$color_primary: #3a404d;
$color_secondary: #00baa2;
$color_secondary_hover: #1bc1ab;

$background-2: #3a404d;
$background-1: #505b6e;

$background-3: #00baa2;
$background-4: #00977f;

$background-5: #00cfb6;

$heading_primary: #757f90;
$heading_secondary: #a3acbb;

$arial_family: Arial, Helvetica, sans-serif;
$roboto_family: 'Roboto', sans-serif;
$verdana_family: Verdana,Geneva,sans-serif;