@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'components/buttons';
@import 'components/hosting_jumbo';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/product_layout';

@import 'pages/home';
@import 'pages/404';

body {
	padding: 0px !important;
	margin: 0px !important;
	background-color: #f8f8f8; 
}

h1, h2, h3, h4 {
	text-align: center;
}

.container {
	max-width: 960px;
}