/** Handles placement of our custom navbar icons **/
a {
  color: #00baa2;
}
a:hover {
  color: #3a404d;
  text-decoration: none;
}

a, a:focus, a:active {
  outline: none !important;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

button.btn-secondary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 40px;
  background-color: #00baa2;
  border-color: #00baa2;
}
button.btn-secondary:hover {
  background-color: #0ed1b8;
  border-color: #0ed1b8;
  cursor: pointer;
}

a.button {
  padding: 9px 40px;
  color: #FFF;
  background-color: #FFF;
  text-decoration: none;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
a.button.btn-medium {
  padding-left: 40px;
  padding-right: 40px;
}
a.button.btn-small {
  padding-left: 20px;
  padding-right: 20px;
}
a.button.client-btn {
  border: 1px solid;
  border-color: #656e7f #505b6e #505b6e #505b6e;
  background-color: #505b6e;
  padding-left: 30px;
  padding-right: 30px;
}
a.button.client-btn:hover {
  background-color: #5e6a7e;
  border-color: #717989 #5e6a7e #5e6a7e #5e6a7e;
}
a.button.cart-btn {
  background-color: #3a404d;
  border: 1px solid #5b6372;
  color: #788192;
  margin-left: 7px;
}
a.button.cart-btn:hover {
  color: #FFF;
  border-color: #717989;
}

#hosting_jumbo {
  background: url("../images/theme/domain_jumbo_compressed.jpg") repeat-x scroll 0 0 #3E485A;
  padding: 0px 0;
  min-height: 381px;
  max-height: 381px;
}
#hosting_jumbo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 45px;
}
#hosting_jumbo h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  margin-top: 20px;
}
#hosting_jumbo h2 .fa, #hosting_jumbo h2 span {
  color: #00baa2;
}
#hosting_jumbo > .container {
  position: relative;
}
#hosting_jumbo a.slide {
  position: absolute;
  top: 46%;
  font-size: 24px;
  display: none;
  z-index: 1000;
}
#hosting_jumbo a.slide:last-child {
  right: 15px;
}
#hosting_jumbo .input-group .input-group-btn > .btn, #hosting_jumbo .input-group .form-control {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  border: 0;
  padding: 15px 10px;
}
#hosting_jumbo .input-group .input-group-btn:first-child > .btn {
  background-color: #FFF;
  border-right: 2px solid #a3adb0;
  color: #a3adb0;
}
#hosting_jumbo .input-group .input-group-btn:last-child > .btn {
  padding-left: 30px;
  padding-right: 30px;
}
#hosting_jumbo #order-premium_comparison .price-table-container .price-table {
  background: transparent;
}
#hosting_jumbo #order-premium_comparison .price-table-container .price-table .top-head {
  background: transparent;
}
#hosting_jumbo #order-premium_comparison .price-table-container .price-table .top-head .price-area {
  /* Old browsers */
  background: #505b6e;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, #505b6e 0%, #3a404d 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #505b6e), color-stop(100%, #3a404d));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, #505b6e 0%, #3a404d 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #505b6e 0%, #3a404d 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, #505b6e 0%, #3a404d 100%);
  /* W3C */
  background: linear-gradient(to bottom, #505b6e 0%, #3a404d 100%);
}
#hosting_jumbo #order-premium_comparison .price-table-container .price-table ul {
  background-color: #ffffff;
  border-radius: 0 0 6px 6px;
}

@media (max-width: 992px) {
  #hosting_jumbo #products > ul > li:not(.featured) {
    display: none;
  }
  #hosting_jumbo .slide {
    display: block !important;
  }
}
header {
  background-color: #3a404d;
  width: 100%;
}
header .brand {
  padding: 40px 15px;
}
header .logo {
  max-width: 100%;
}
header #session_nav {
  float: right;
  margin-top: 15px;
}
header .padlock {
  padding-left: 20px;
  padding-top: 1px;
  background: url("../images/icons/padlock.png") no-repeat 0 0 transparent;
}
header .navbar {
  background-color: #00baa2;
  border-top: 1px solid #25c3af;
  border-bottom: 1px solid #25c3af;
  padding: 0;
}
header .navbar .navbar-brand {
  padding-left: 15px;
  display: none;
}
header .navbar .navbar-toggler {
  border-color: transparent;
  color: #3a404d;
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  color: rgba(0, 0, 0, 0.5);
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header .navbar a {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.18);
}
header .navbar .nav-item {
  margin: 0 1px;
}
header .navbar .nav-item > a {
  padding: 20px 15px !important;
  min-width: 190px;
}
header .navbar .nav-item:hover {
  background-color: #1bc1ab !important;
}
header .navbar .nav-item:not(:first-child):after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 2px;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#00000000",GradientType=0 );
  margin-left: -2px;
}
header .navbar .dropdown-menu {
  background-color: #f8f8f8;
  border-radius: 0;
  margin-top: 0;
  width: 100%;
  padding: 0;
}
header .navbar .dropdown-menu > a.dropdown-item {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #929ea2;
  text-shadow: none;
  font-weight: normal;
  text-align: center;
  padding: 10px 0;
}
header .navbar .dropdown-menu > a.dropdown-item:nth-of-type(2n + 1), header .navbar .dropdown-menu > a.dropdown-item:active {
  background-color: #f3f3f3;
}
header .navbar .dropdown-menu > a.dropdown-item:hover {
  color: #00baa2;
}
header .navbar ci.domains {
  background: url("../images/theme/www_icon.png") no-repeat scroll 0 0 transparent;
  width: 35px;
  height: 7px;
  display: inline-block;
  vertical-align: middle;
}
header .navbar ci.server {
  background: url("../images/theme/server_icon.png") no-repeat scroll 0 0 transparent;
  width: 25px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
}
header .navbar ci.app {
  background: url("../images/theme/app_icon.png") no-repeat scroll 0 0 transparent;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
}
header .navbar ci.security {
  background: url("../images/theme/security_icon.png") no-repeat scroll 0 0 transparent;
  width: 17px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
header .navbar ci.account {
  background: url("../images/theme/account_icon.png") no-repeat scroll 0 0 transparent;
  width: 22px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
header .announce {
  padding: 8px 0;
  background-color: #ffeea4;
  text-align: center;
  display: none;
}

@media (max-width: 768px) {
  header #session_nav {
    text-align: center;
    float: none;
    margin-top: 30px;
  }
  header .logo {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  header .navbar .navbar-brand {
    display: inline-block;
  }
}
section#footer {
  background-color: #ececec;
  padding: 50px 0 0 0 !important;
  line-height: 25px;
  border-top: 1px solid #d8d8d8;
}
section#footer span {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #a3acbb;
  line-height: 25px;
  padding-left: 20px;
  display: block;
}
section#footer span > img {
  margin-bottom: 15px;
  display: block;
}
section#footer span.desc > a {
  color: #00baa2;
}
section#footer .footnav h6 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #7c8490;
  text-transform: uppercase;
  margin-top: 0;
}
section#footer .footnav > .row {
  margin: 0;
}
section#footer .footnav > .row > div:last-child {
  padding-right: 0;
}
section#footer .footnav ul {
  list-style: none;
  padding: 0;
}
section#footer .footnav ul li {
  padding: 2px 0;
}
section#footer .footnav ul li > a {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #a3acbb;
  text-decoration: none;
}
section#footer .footnav ul li > a:hover {
  color: #3abaa9;
}
section#footer #legal {
  margin-top: 20px;
  text-align: center;
}
section#footer #legal > a {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #a3acbb;
  padding: 0 10px;
  text-decoration: none;
}
section#footer #legal > a:hover {
  color: #00baa2;
}
section#footer > #social {
  margin-top: 25px;
  background-color: #e2e2e2;
  border-top: 1px solid #d8d8d8;
  text-align: center;
  padding: 30px 0;
}
section#footer > #social a:not(:first-child) {
  margin-left: 7px;
}
section#footer > #social a > img {
  -webkit-filter: grayscale(100%); /* Safari */
  filter: grayscale(100%);
}
section#footer > #social a:hover > img {
  -webkit-filter: grayscale(0%); /* Safari */
  filter: grayscale(0%);
}

@media (max-width: 992px) {
  .footnav {
    display: none;
  }
}
div#order-premium_comparison {
  padding: 0 0 0 0;
  margin: 0 0 0px 0;
  height: 100%;
  width: 100%;
  line-height: 18px;
  font-size: 14px;
  color: #666666;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* Text Styling */
#order-premium_comparison a,
#order-premium_comparison a:hover,
#order-premium_comparison a:active,
#order-premium_comparison a:visited,
#order-premium_comparison a:link {
  outline: none;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
}

#order-premium_comparison div,
#order-premium_comparison ul,
#order-premium_comparison li {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/* Headings */
#order-premium_comparison h3 {
  padding: 0 0 0 0;
  margin: 0;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  color: #333333;
}

#order-premium_comparison h4 {
  padding: 0 0 0 0;
  margin: 10px 0;
  font-size: 24px;
  color: #333333;
}

#order-premium_comparison h5 {
  padding: 0 0 0 0;
  margin: 5px 0;
  font-size: 16px;
  color: #666666;
}

#order-premium_comparison .txt-center {
  text-align: center;
}

#order-premium_comparison .alert {
  margin-top: 70px;
  padding: 15px;
}

#order-premium_comparison .main-container {
  padding: 30px 2% 30px 2%;
  margin: 0 auto;
}

#order-premium_comparison .main-container.price-01 {
  font-size: 14px;
  line-height: 17px;
}

#order-premium_comparison .main-container.price-01 h3,
#order-premium_comparison .main-container.price-01 h5 {
  font-weight: normal;
}

#order-premium_comparison .price-table-container {
  padding: 10px 0 0 0;
  margin: 0 0 0 0;
}

#order-premium_comparison .price-table-container ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  list-style: none;
  text-align: center;
}

#order-premium_comparison .price-table-container ul li {
  padding: 5px 10px 5px 10px;
  margin: 0 0 0 0;
  display: inline-block;
  background: url("../images/products/shadow-btm.png") no-repeat center bottom;
}

#order-premium_comparison .price-table-container .price-table {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 270px;
  min-width: 270px;
  background: #ffffff;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

#order-premium_comparison .price-table-container .price-table.active {
  margin: -30px 0 0 0;
  width: 245px;
}

#order-premium_comparison .price-table-container .price-table .top-head {
  /* Old browsers */
  background: #505b6e;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, #505b6e 0%, #3a404d 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #505b6e), color-stop(100%, #3a404d));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, #505b6e 0%, #3a404d 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #505b6e 0%, #3a404d 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, #505b6e 0%, #3a404d 100%);
  /* W3C */
  background: linear-gradient(to bottom, #505b6e 0%, #3a404d 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006699", endColorstr="#004c66",GradientType=0);
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

#order-premium_comparison .price-table-container .price-table .top-head .top-area {
  padding: 15px 0;
  margin: 0 0 0 0;
  border-bottom: 1px solid #323845;
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -ms-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

#order-premium_comparison .price-table-container .price-table .top-head .top-area h4 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-weight: normal;
  color: #ffffff;
  line-height: 29px;
  font-family: "Roboto", sans-serif;
}

#order-premium_comparison .price-table-container .price-table .top-head .top-area p {
  padding: 5px 0 0 0;
  margin: 0 0 0 0;
  color: #80a7ba;
  font-size: 13px;
  line-height: 20px;
}

#order-premium_comparison .price-table-container .price-table .top-head .price-area {
  padding: 15px 0;
  margin: 0 0 0 0;
  border-top: 1px solid #454c5b;
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -ms-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 16px;
}

#order-premium_comparison .price-table-container .price-table .top-head .price-area .price {
  padding: 10px 0 10px 0;
}

#order-premium_comparison .price-table-container .price-table .top-head .price-area .price span {
  font-size: 32px;
}

#order-premium_comparison .price-table-container .order-button,
#order-premium_comparison .price-table-container .order-button:hover {
  padding: 13px 0;
  margin: 10px 25px;
  font-size: 16px;
  color: #ffffff;
  display: block;
  font-weight: normal;
  /* Old browsers */
  background: #00baa2;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, #00baa2 0%, #00977f 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00baa2), color-stop(100%, #00977f));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, #00baa2 0%, #00977f 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #00baa2 0%, #00977f 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, #00baa2 0%, #00977f 100%);
  /* W3C */
  background: linear-gradient(to bottom, #00baa2 0%, #00977f 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a92b7", endColorstr="#006699",GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

#order-premium_comparison .price-table-container .order-button:hover {
  /* Old browsers */
  background: #00cfb6;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, #00cfb6 0%, #00977f 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00cfb6), color-stop(100%, #00977f));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, #00cfb6 0%, #00977f 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #00cfb6 0%, #00977f 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, #00cfb6 0%, #00977f 100%);
  /* W3C */
  background: linear-gradient(to bottom, #00cfb6 0%, #00977f 100%);
}

#order-premium_comparison .price-table-container .order-button.unavailable:hover {
  cursor: not-allowed;
  /* Old browsers */
  background: #404A53;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, #404A53 0%, #949499 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404A53), color-stop(100%, #949499));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, #404A53 0%, #949499 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #404A53 0%, #949499 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, #404A53 0%, #949499 100%);
  /* W3C */
  background: linear-gradient(to bottom, #404A53 0%, #949499 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#404A53", endColorstr="#949499",GradientType=0);
}

#order-premium_comparison .price-table-container .price-table ul {
  padding: 4px 10px 10px 10px;
  margin: 0 0 0 0;
  list-style: none;
}

#order-premium_comparison .price-table-container .price-table ul li {
  padding: 17px 0 15px 0;
  margin: 0 0 0 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  color: #333333;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  background: none;
}

#order-premium_comparison .price-table-container .price-table ul li a {
  color: #006699;
}

#order-premium_comparison .price-table-container .price-table ul li:last-child {
  border-bottom: 0;
}

#order-premium_comparison .price-table-container .price-table .popular-plan {
  padding: 7px 0 5px 0;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #323845;
  color: #a3d900;
  font-size: 13px;
  text-transform: uppercase;
}

#order-premium_comparison .includes-features {
  margin: 0 auto;
  width: 100%;
  max-width: 780px;
  padding-top: 10px;
}

#order-premium_comparison .includes-features .head-area {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: center;
  background: url(/assets/images/products/head-bg.png) no-repeat center center;
  background-size: 100% auto;
}

#order-premium_comparison .includes-features .head-area span {
  padding: 0 20px;
  margin: 0 0 0 0;
  display: inline-table;
  background: #ffffff;
}

#order-premium_comparison .main-container.price-01 .includes-features .head-area span {
  background: #f3f3f3;
}

#order-premium_comparison .includes-features ul.list-features {
  padding: 20px 0 0 0;
  margin: 0 0 0 0;
  list-style: none;
}

#order-premium_comparison .includes-features ul.list-features li {
  padding: 0 0 0 22px;
  margin: 5px 0;
  width: 33%;
  display: inline-table;
  background: url(/assets/images/products/tick.png) no-repeat;
}

/* This media query is written for iPad and tablets */
@media (max-width: 991px) {
  #order-premium_comparison .includes-features ul.list-features li {
    width: 48%;
  }
}
/* This media query is written for Mobile only */
@media (max-width: 600px) {
  #order-premium_comparison .price-table-container .price-table {
    margin: 0 0 0 0;
    width: 300px;
  }
  #order-premium_comparison .price-table-container .price-table.active {
    margin: 0 0 0 0;
    width: 300px;
  }
}
/* This media query is written for Mobile only */
@media (max-width: 480px) {
  #order-premium_comparison .includes-features ul.list-features li {
    width: 100%;
  }
}
/* Sidebar */
html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.row-product-selection {
  position: relative;
  left: 0;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.product-selection-sidebar {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  display: none;
}

#btnShowSidebar {
  margin: 0 0 20px 0;
}

#feature_rotator {
  padding: 25px 0;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #878787;
}
#feature_rotator .fa, #feature_rotator span {
  color: #00baa2;
}

#services {
  padding: 25px 0;
  background: #FFF;
  border-width: 1px 0;
  border-color: #e3e3e3;
  border-style: solid;
}
#services img {
  display: block;
  margin: 10px auto;
}
#services h1 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #757f90;
  font-weight: bold;
}
#services h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #a3acbb;
}
#services .coming-soon > h1 {
  color: #a3acbb;
}

#featured-services h1, #news h1 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #757f90;
  font-weight: bold;
  text-transform: uppercase;
}

#featured-services h2, #news h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #a3acbb;
  margin-bottom: 30px;
}

#featured-services {
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 0;
  background: #f0f0f0;
}
#featured-services .row > div {
  padding: 0 4px;
}
#featured-services .row .feature {
  background-color: #FFF;
  padding: 15px;
  border: 1px solid #e3e3e3;
  min-height: 200px;
  margin-bottom: 8px;
}
#featured-services .row .feature > h3 {
  font-family: sans-serif;
  font-size: 17px;
  color: #757f90;
  margin-top: 15px;
}
#featured-services .row .feature > img {
  display: block;
  margin: 0 auto;
}
#featured-services .row .feature > span {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #a3acbb;
  text-align: center;
  display: block;
  line-height: 25px;
}

#news {
  padding: 30px 0;
  background-color: #ececec;
  min-height: 500px;
}
#news .row > div {
  padding: 0 6px;
}
#news .row .post {
  background-color: #FFF;
  border: 1px solid #e3e3e3;
  margin-bottom: 12px;
  padding-bottom: 15px;
}
#news .row .post > h3 {
  font-family: sans-serif;
  font-size: 17px;
  color: #757f90;
  margin-top: 15px;
  margin-bottom: 20px;
}
#news .row .post > img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
#news .row .post > .button {
  background-color: #757f90;
  border-radius: 0;
  margin: 0 auto;
  padding: 6px 22px;
  width: 130px;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
#news .row .post > .button:hover {
  background-color: #3abaa9;
}

#subscribe {
  background-color: #404a5c;
  padding: 70px 0;
}
#subscribe input {
  border: 1px solid #FFF;
  padding: 12px 20px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}
#subscribe h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #929ea2;
  margin: 20px 0 0 0;
}
#subscribe button {
  border-radius: 0 5px 5px 0;
}

#sponsors {
  background-color: #FFF;
  padding: 30px 0;
}
#sponsors img {
  margin: 0 auto;
  display: block;
}

/** return carat up page **/
.return {
  width: 65px;
  height: 65px;
  background-color: #00baa2;
  border-radius: 50px;
  margin: -100px auto 40px auto;
}
.return > .fa {
  font-size: 36px;
  color: #FFF;
  text-align: center;
  display: block;
  padding: 10px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.return:hover {
  cursor: pointer;
  background-color: #0ed1b8;
}

@media (max-width: 992px) {
  #services, #sponsors {
    display: none;
  }
  #feature_rotator,
#featured-services {
    display: none;
  }
  #featured-services .row .feature {
    min-height: 270px;
  }
}
body#error-404 {
  background-color: #3a404d;
}
body#error-404 > img {
  margin: 50px auto 5px auto;
  display: block;
}
body#error-404 > h1 {
  margin: 0;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  text-align: center;
}
body#error-404 > a {
  color: white;
  display: block;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

body {
  padding: 0px !important;
  margin: 0px !important;
  background-color: #f8f8f8;
}

h1, h2, h3, h4 {
  text-align: center;
}

.container {
  max-width: 960px;
}/*# sourceMappingURL=hostinglodge_main.css.map */